# Data Frame

In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
df=pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [3]:
index='A B C D E'
index.split()

['A', 'B', 'C', 'D', 'E']

In [4]:
df

          W         X         Y         Z
A  0.801049  1.101138 -0.675957  0.501171
B -0.377999  1.718784 -0.966035 -0.312110
C -1.561850  0.063519 -0.036675  0.481704
D  0.738490 -0.197018  2.412439  0.106602
E  1.710686  0.128332  0.451183  0.449052

In [5]:
type(df)

pandas.core.frame.DataFrame

In [6]:
# df.head(1)

In [7]:
df[['W','Y']]
# show to columns W,Y

          W         Y
A  0.801049 -0.675957
B -0.377999 -0.966035
C -1.561850 -0.036675
D  0.738490  2.412439
E  1.710686  0.451183

In [8]:
df['new']=df['W']+df['Y']
df['new']

A    0.125093
B   -1.344034
C   -1.598525
D    3.150929
E    2.161869
Name: new, dtype: float64

In [9]:
df.drop('A',axis=0,inplace=True)

In [10]:
# df.drop('new',axis=1,inplace=True)
# df.drop('A',axis=0,inplace=True)
# axis=1:to drop column
# axis=0:to drop row

In [11]:
df['new']
# show the value of particular columns

B   -1.344034
C   -1.598525
D    3.150929
E    2.161869
Name: new, dtype: float64

In [12]:
# df.drop('A',axis=0,inplace=True)#to drop row axis=0
df

          W         X         Y         Z       new
B -0.377999  1.718784 -0.966035 -0.312110 -1.344034
C -1.561850  0.063519 -0.036675  0.481704 -1.598525
D  0.738490 -0.197018  2.412439  0.106602  3.150929
E  1.710686  0.128332  0.451183  0.449052  2.161869

In [13]:
df

          W         X         Y         Z       new
B -0.377999  1.718784 -0.966035 -0.312110 -1.344034
C -1.561850  0.063519 -0.036675  0.481704 -1.598525
D  0.738490 -0.197018  2.412439  0.106602  3.150929
E  1.710686  0.128332  0.451183  0.449052  2.161869

In [17]:
df.loc['B']
# show value of row according to key

W     -0.377999
X      1.718784
Y     -0.966035
Z     -0.312110
new   -1.344034
Name: B, dtype: float64

In [98]:
df.iloc[0]
# show the value of particular row according to index

W      0.823155
X      0.088823
Y     -2.052979
Z     -2.422214
new   -1.229824
Name: B, dtype: float64

In [99]:
df['W'].mean()

0.6504390806891323

In [100]:
df.describe()

              W         X         Y         Z       new
count  4.000000  4.000000  4.000000  4.000000  4.000000
mean   0.650439 -0.166336 -0.355355  0.055107  0.295084
std    0.414909  0.429650  1.978197  1.695383  1.636908
min    0.164641 -0.714586 -2.060202 -2.422214 -1.229824
25%    0.408274 -0.395545 -2.054785 -0.246271 -1.009251
50%    0.656320 -0.100187 -0.496272  0.623127  0.144674
75%    0.898485  0.129022  1.203157  0.924505  1.449009
max    1.124476  0.249618  1.631326  1.396388  2.120811

In [103]:
df.drop('new',axis=1,inplace=True)#to drop row axis=0
df

          W         X         Y         Z
B  0.823155  0.088823 -2.052979 -2.422214
C  0.164641 -0.289197  1.060434  1.396388
D  1.124476  0.249618 -2.060202  0.479043
E  0.489485 -0.714586  1.631326  0.767211