# K Nearest Neighbors From Scratch

In [51]:
import numpy as np
from math import sqrt
import warnings
from collections import Counter
import pandas as pd
import random

In [52]:
def k_nearest_neighbours(data,predict,k=3):
    if len(data)>=k:
        warnings.warn('k is set to a value less than total vooting groups!')
    distances=[]
    for group in data:
        for features in data[group]:
#             euclidean_distance=sqrt((features[0]-predict[0])**2+(features[1]-predict[1])**2)
            euclidean_distance=np.linalg.norm(np.array(features)-np.array(predict))
            distances.append([euclidean_distance,group])
        votes=[i[1] for i in sorted(distances)[:k]]
        print(Counter(votes).most_common(1))
        vote_result=Counter(votes).most_common(1)[0][0]
    
    return vote_result

In [53]:
df=pd.read_csv('breast-cancer-wisconsin.data')
df.head()

,id,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell_size,bare_nuclei,bland_chrom,norm_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [54]:
df.replace('?',-99999,inplace=True)
df.drop(['id'],1,inplace=True)

In [55]:
full_data=df.astype(float).values.tolist()
# print(full_data[:5])
random.shuffle(full_data)

In [56]:
test_size = 0.2
train_set = {2:[], 4:[]}
test_set = {2:[], 4:[]}
train_data = full_data[:-int(test_size*len(full_data))]
test_data = full_data[-int(test_size*len(full_data)):]

for i in train_data:
    train_set[i[-1]].append(i[:-1])

for i in test_data:
    test_set[i[-1]].append(i[:-1])

correct = 0
total = 0

for group in test_set:
    for data in test_set[group]:
        vote = k_nearest_neighbors(train_set, data, k=5)
        if group == vote:
            correct += 1
        total += 1
print('[INFO]Accuracy:{}'.format(correct/total))

[INFO]Accuracy:0.9568345323741008